<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randohood</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/overview.css')}}">
</head>
<body>
    <div class="nav">
        <div class="navItem one"><img class="dice" src="../static/img/dices.svg" alt="dice"></div>
        <div clss="navItem two"></div>
        <div class="navItem three"><a id="logout" href="/logout"><p>Logout</p></a></div>
    </div>
    <div class="content">
        <p>You Purchased ${{dollarAmountPurchased}} worth of</p>
        <h3>{{randomStock}}</h3>
        <p>at the market price of</p>
        <h3>${{purchasePrice}}</h3>
    </div>
</body>
</html>