*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.top{
    margin-top: 20vh;
    padding: 0;
    width: 100%;
}
div{
    display: inline-block;
}
.center{
    width: 80%;
    margin: 0 10%;
}
.list{
    padding-bottom: 80px;
    max-width: 500px;
    margin: 0 4rem;
    vertical-align: top;
}

.terms{
    max-width: 500px;
    margin: 0 4rem;
    vertical-align: top;
    font-size: .9rem;
    padding-bottom: 50px
}
.title{
    display: inline-block;
    padding-right: 1rem;
}
.dice{
    height:3rem;
}

input{ 
    background-color: rgb(231, 231, 231);
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 4px;
    margin: 15px 0;
    display: inline-block;
    font-size: 1em;
    line-height: 20px;
    outline: none;
}
input:focus{
    border:1px solid rgb(0,200,5);
}
input:hover{
    background-color: white;
}
input[type=submit]{
    width: 150px;
    background-color: rgb(0,200,5);
    color: white;
}
.termsClear{
    width: 100%;
}
input#terms{
    width: 30px
}
a{
    text-decoration: none;
    color: rgb(0,200,5)
}
a:hover{
    color: gray;
}